


<div class="text-field">
<%= form.label :name, "Name: ", style: "width: 120px" %>
  <%= form.text_field :name %>
</div>


<br>


<div class="text-field">
<%= form.label :place_type, "Place type: ", style: "width: 120px" %>
  <%= form.text_field :place_type %>
</div>


<br>


<div class="text-field">
<%= form.label :property_type, "Property type: ", style: "width: 120px" %>
  <%= form.text_field :property_type %>
</div>


<br>


<div class="text-field">
<%= form.label :room_number, "Room number: ", style: "width: 120px" %>
  <%= form.number_field :room_number, min: "0"%>
</div>


<br>


<div class="text-field">
<%= form.label :bed_number, "Bed number: ", style: "width: 120px" %>
  <%= form.number_field :bed_number, min: "0" %>
</div>


<br>


<div class="text-field">
<%= form.label :guest_number, "Guest number: ", style: "width: 120px" %>
  <%= form.number_field :guest_number, min: "0" %>
</div>


<br>


<div class="text-field">
<%= form.label :country, "Country: ", style: "width: 120px" %>
  <%= form.text_field :country %>
</div>


<br>



<div class="text-field">
<%= form.label :state, "State: ", style: "width: 120px" %>
  <%= form.text_field :state %>
</div>


<br>


<div class="text-field">
<%= form.label :city, "City: ", style: "width: 120px" %>
  <%= form.text_field :city %>
</div>


<br>


<div class="text-field">
<%= form.label :zipcode, "Zipcode: ", style: "width: 120px" %>
  <%= form.number_field :zipcode %>
</div>


<br>


<div class="text-field">
<%= form.label :address, "Address: ", style: "width: 120px" %>
  <%= form.text_field :address %>
</div>


<br>


<div class="text-field">
<%= form.label :price, "Price: ", style: "width: 120px" %>
  <%= form.number_field :price, min: "0" %>
</div>


<br>


<div class="text-field">
<%= form.label :description, "Description: ", style: "width: 120px" %>
  <%= form.text_area :description %>
</div>




<br>
<br>



<div class="text-field">
<%= form.label :image, "Upload photos: " %>
  <%= form.file_field :image, multiple: true, id: "fileupload" %>
</div>



<br>
<div id="dvPreview"></div>





















<br>


<div class="text-field">
  <% if form.object.image? %>

<p><b>Delete photos: </b></p>


<% @listing.image.each_with_index do |img, index| %>

      <%= image_tag(img.thumb.url) %>
      <%= link_to "Delete", listing_image_path(@listing, index), :method => :delete, data: { confirm: "Are you sure you want to delete this photo?" } %>
      
      <br><br>

<% end %>

<% end %>

</div>






<script>

 $(function () {
    $("#fileupload").change(function () {
        if (typeof (FileReader) != "undefined") {
            var dvPreview = $("#dvPreview");
            dvPreview.html("");
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
            $($(this)[0].files).each(function () {
                var file = $(this);
                if (regex.test(file[0].name.toLowerCase())) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = $("<img />");
                        img.attr("style", "height:100px;width: 100px;margin:5px");
                        img.attr("src", e.target.result);
                        dvPreview.append(img);
                    }
                    reader.readAsDataURL(file[0]);
                } else {
                    alert(file[0].name + " is not a valid image file.");
                    dvPreview.html("");
                    return false;
                }
            });
        } else {
            alert("This browser does not support HTML5 FileReader.");
        }
    });
});


</script>