<div class="col-md-12">
  <li class="list-group-item">
    <h1>Edit your listing</h1>

  		<%= form_for @listing, html: { multipart: true } do |form| %>
    		<%= render partial: '/listings/form', object: form %>
        <br>



   			 <div class="submit-field">
         <div style="float: left;">
     			 <%= form.submit "Save" %> <% end %></div>

      <div><%= button_to "Cancel", :back, :method => :get, style: "margin-left: 10px" %>
    		</div><br>


  		
  </li><br>
    <div class="other-links">
       <%= link_to '<< Back to Main page', root_path %>
    </div><br>
</div>