<% if @index_title.present? %>
	<div class="col-md-12"><h2><%= @index_title %>&nbsp;&nbsp;<small><span class= "label label-primary"><%= @search_term %></span></small> </h2></div>
<% end %>


<% if @listings.count == 0 %>
<div class="col-md-12">
	<div class="well">
		<p>Your search - <b><%= @search_term %></b> - did not match any documents.</p><br>
		<p>Suggestions:</p><br>
		<ul>
			<li>Make sure all words are spelled correctly</li>
			<li>Try different keywords</li>
			<li>Try more general keywords</li>
			<li>Try fewer keywords</li>
		</ul><br>
		<p>Alternatively, you can browse all our listings <%= link_to "here", listings_path %>. </p>
	</div>
</div>
  

    
<% else %>
<% if @index_title.present? %>
 	<div class="col-md-12">
 	 	You search returned <%= @listings.count %> result(s).
    	</div>
    	<% end %>
    <div class="col-md-12", align="right">
    <%= will_paginate @listings %>
 	</div>




<div class="col-md-12">

	<% @listings.each_slice(4) do |listings| %>
		<div class='row'>
			<% listings.each do |listing| %>
		  		<div class="col-md-3">
		      
					<div class="well">

						<p><%= image_tag listing.image[0].to_s, class: "img-responsive", style: "border-radius: 3px; " %></p>

						<h4><%= link_to listing.name, user_listing_path(listing.user, listing) %></h4>
						<p>Location: <%= listing.country %>, <%= listing.state %>, <%= listing.city %></p>
						<p>Description: <%= listing.description %></p>

					</div>
				</div>
			<% end %>
		</div>
	<% end %>
</div>


<% end %>



      
   



<% if false %>
code to comment

<div class="footer">
<%= paginate @listings %>
</div>
<% end %>