



<h2><%= @index_title %>&nbsp;<small><span class= "label label-info"><%= @search_term %></small></span> </h2>

<% if @listings.count == 0 %>
  
    <div class="page_info">
    <%= page_entries_info @listings %>
    </div>

    <h4>No listings found</h4>
<% else %>

 


  <div class="page_info" align= "right" style="margin: 0px 15px 0px 0px">
    <%= page_entries_info @listings %>
  </div>
  



 <div align= "right" style="margin: 0px 15px 0px 0px">
    <%= will_paginate @listings %>
 </div>



<div class="col-md-12">

	<% @listings.each_slice(4) do |listings| %>
		<div class='row'>
			<% listings.each do |listing| %>
		  		<div class="col-md-3">
		      
					<div class="well">

						<p><%= image_tag listing.image[0].to_s, class: "img-responsive", style: "border-radius: 3px; " %></p>

						<h4><%= link_to listing.name, user_listing_path(listing.user, listing) %></h4>
						<p>Location: <%= listing.country %>, <%= listing.city %></p>
						<p>Description: <%= listing.description %></p>

					</div>
				</div>
			<% end %>
		</div>
	<% end %>
</div>


<% end %>



      
   



<% if false %>
code to comment

<div class="footer">
<%= paginate @listings %>
</div>
<% end %>