  <div class="col-md-12">
  <li class="list-group-item">
  <h2>Create a new listing / Become a Host</h2>

  <%= form_for @listing, html: { multipart: true } do |form| %>
    <%= render partial: '/listings/form', object: form %>
    <br>



    <div class="submit-field">
<div style="float: left;">
    
      <%= form.submit "Create a new listing" %> <% end %></div>

      <div>
      <%= button_to "Cancel", :back, :method => :get, style: "margin-left: 10px" %></div>    
<br>
    
</div>





</li>

<br>
<div class="other-links">
       <%= link_to '<< Back to Main page', root_path %> 
    </div>
<br>

</div>


