<div class="col-md-12">
  <li class="list-group-item">

<h1><%= @listing.name %></h1>


<p>Location: <%= @listing.address %>, <%= @listing.zipcode %>, <%= @listing.city %>, <%= @listing.country %></p>

<p>Place type: <%= @listing.place_type %></p>

<p>Property type: <%= @listing.property_type %></p>

<p>Number of rooms: <%= @listing.room_number %></p>

<p>Number of beds: <%= @listing.bed_number %></p>

<p>Max. number of guests allowed: <%= @listing.guest_number %></p>

<p>Price per night: RM<%= @listing.price %></p>

<p>Description: <%= @listing.description %></p>

<p>Verification status: <%= @listing.verification %></p>

<p>Hosted by: <%= link_to @listing.user.email, user_path(@listing.user) %></p>

<p><% if signed_in? %>



<% if current_user && ((current_user.id == @listing.user.id) || current_user.superadmin?) %>
<%= link_to 'Edit listing', edit_user_listing_path(current_user, @listing), class: "btn btn-primary" %></p>
<p><%= link_to 'Delete listing', user_listing_path(current_user, @listing), method: :delete, data: {confirm: 'Are you sure you want to delete this listing?'}, class: "btn btn-primary" %>

<% end %>
</p>

<p>
	<% if @listing.unverified? && (current_user.moderator? || current_user.superadmin?) %>
<%= link_to 'Verify listing', "/users/#{@listing.user_id}/listings/#{@listing.id}/verify", method: :post, data: {confirm: 'Are you sure you want to verify this listing?'}, class: "btn btn-success" %>
<% end %>
</p>

<p>
	<% if @listing.verified? && (current_user.moderator? || current_user.superadmin?) %>
<%= link_to 'Unverify listing', "/users/#{@listing.user_id}/listings/#{@listing.id}/unverify", method: :post, data: {confirm: 'Are you sure you want to unverify this listing?'}, class: "btn btn-danger" %>
<% end %>
</p>




<% end %>






</li><br>
 <div class="other-links">
       <%= link_to '<< Back to Main page', root_path %>
    </div>
    <br>
</div>
