<div class="col-md-8 col-md-offset-2" >
<div class="list-group">
  <div class="list-group-item">

<h1><%= @user.email %></h1>


<p>Email: <%= @user.email %>






<p>Profile photo: 

<% if @user.avatar.file.nil? %>
No profile photo available.</p>
<% else %>
<br>
<%= image_tag @user.avatar, Style: "width: 200px; height: 200px;" %>

	<% end %>
</p>





<br>






<p><% if signed_in? %>



<% if current_user && ((current_user.id == @user.id) || current_user.superadmin?) %>
<%= link_to 'Edit profile', edit_user_path(current_user), class: "btn btn-primary" %></p>

<% end %>
</p>


<% end %>

<br>


</div>






<% if signed_in? %>



<% if current_user && ((current_user.id == @user.id) || current_user.superadmin?) %>

<div class="list-group-item">

<h3>My Reservations</h3>
<p>As at <%= Date.today.strftime("%d %B %Y") %>, you have made <%= @reservations.count %> reservations.</p>



<div class="table-responsive">
<table class="table table-bordered" style="text-align: center;background-color: #f2f2f2;">
	
<tr>
<td>Listing title</td>
<td>Start date</td>
<td>End date</td>
<td>Number of nights</td>
<td>Number of guest</td>
<td>Total price</td>
<td>Cancel booking</td>
<td>Payment</td>
</tr>


<% @reservations.each do |reservation| %>
<tr>
<td><%= link_to reservation.listing.name, reservation.listing  %></td>
<td><%= reservation.start_date %></td>
<td><%= reservation.end_date %></td>
<td><%= (reservation.end_date - reservation.start_date).to_i %></td>
<td><%= reservation.num_guests %></td>
<td>RM<%= number_with_delimiter(reservation.total_price, :delimiter => ',') %></td>

<td><%= link_to "Cancel booking", reservation, method: :delete, data: { confirm: "Are you sure you want to cancel this reservation?" } %></td>
<td><% if reservation.status=="unpaid" %>
	<%= link_to "Pay",  braintree_new_reservation_path(reservation.id), 'data-turbolinks' => false %>
	<% else %>
	<p>Paid</p>
	<% end %>
</td>

</tr>
<% end %>

</table>


</div>
<br></div>

<% end %>
<% end %>



  <div class="list-group-item">


<h3>My Listings</h3>

<p>As at <%= Date.today.strftime("%d %B %Y") %>, you have created <%= @listings.count %> listings.</p>




	
			<% @listings.each do |listing| %>
		  		<div class="well">
		      
					<h4><%= link_to listing.name, user_listing_path(listing.user, listing) %></h4>

						<p><%= image_tag listing.image[0].to_s, class: "img-responsive", style: "border-radius: 3px; " %></p>

						
						<p>Location: <%= listing.country %>, <%= listing.city %></p>
						<p>Description: <%= listing.description %></p>



<% if current_user.id == @user.id %>



<p>Booking details: </p>






<table class="table table-bordered" style="text-align: center;background-color: white;">
	
<tr>
<td>Booked by</td>
<td>Start date</td>
<td>End date</td>
<td>Number of nights</td>
<td>Number of guest</td>
<td>Total price</td>
<td>Payment</td>
</tr>

<% if listing.reservations.present? %>



<% listing.reservations.each do |reservation| %>
<tr>
<td><%= link_to reservation.user.email, reservation.user  %></td>
<td><%= reservation.start_date %></td>
<td><%= reservation.end_date %></td>
<td><%= (reservation.end_date - reservation.start_date).to_i %></td>
<td><%= reservation.num_guests %></td>
<td>RM<%= number_with_delimiter(reservation.total_price, :delimiter => ',') %></td>
</td>
<td><% if reservation.status=="unpaid" %>
	<p>Pending</p>
	<% else %>
	<p>Paid</p>
	<% end %>
</td>
</tr>
<% end %>


<% else %>
<tr><td colspan="7">There is no booking for this listing yet.</td></tr>
<% end %>










</table>
<% end %>





			</div>
		<br>
	<% end %>


</div>







</div>







<br>




 <div class="other-links">
       <%= link_to '<< Back to Main page', root_path %>
    </div>
    <br>
</div>