<div class="col-md-8 col-md-offset-2" >
<div class="list-group">
  <div class="list-group-item">

<h1><%= @user.email %></h1>


<p>Email: <%= @user.email %>






<p>Profile photo: 

<% if @user.avatar.file.nil? %>
No profile photo available.</p>
<% else %>
<br>
<%= image_tag @user.avatar, Style: "width: 200px; height: 200px;" %>

	<% end %>
</p>





<br>






<p><% if signed_in? %>



<% if current_user && ((current_user.id == @user.id) || current_user.superadmin?) %>
<%= link_to 'Edit profile', edit_user_path(current_user), class: "btn btn-primary" %></p>

<% end %>
</p>


<% end %>

<br>


</div>






<% if signed_in? %>



<% if current_user && ((current_user.id == @user.id) || current_user.superadmin?) %>

<div class="list-group-item">

<h3>My Reservations</h3>
<p>As at <%= Date.today.strftime("%d %B %Y") %>, there are <%= @reservations.count %> reservations.</p>



<div class="table-responsive">
<table class="table table-bordered" style="text-align: center;background-color: #f2f2f2;">
	
<tr>
<td>Listing title</td>
<td>Start date</td>
<td>End date</td>
<td>Number of nights</td>
<td>Number of guest</td>
<td>Total price</td>
<td>Cancel booking</td>
</tr>


<% @reservations.each do |reservation| %>
<tr>
<td><%= link_to reservation.listing.name, reservation.listing  %></td>
<td><%= reservation.start_date %></td>
<td><%= reservation.end_date %></td>
<td><%= (reservation.end_date - reservation.start_date).to_i %></td>
<td><%= reservation.num_guests %></td>
<td>RM<%= number_with_delimiter(reservation.total_price, :delimiter => ',') %></td>
<td><%= link_to "Cancel booking", reservation, method: :delete, data: { confirm: "Are you sure you want to cancel this reservation?" } %></td>

</tr>
<% end %>

</table>


</div>
<br></div>

<% end %>
<% end %>



  <div class="list-group-item">


<h3>My Listings</h3>



<div align= "right" style="margin: 0px 15px 0px 0px">

    <%= will_paginate @filter %>
    </div>



	<% @user.listings.each_slice(4) do |listings| %>
		<div class='row'>
			<% listings.each do |listing| %>
		  		<div class="col-md-3">
		      
					<div class="well">

						<p><%= image_tag listing.image[0].to_s, class: "img-responsive", style: "border-radius: 3px; " %></p>

						<h4><%= link_to listing.name, user_listing_path(listing.user, listing) %></h4>
						<p>Location: <%= listing.country %>, <%= listing.city %></p>
						<p>Description: <%= listing.description %></p>

					</div>
				</div>
			<% end %>
		</div>
	<% end %>
</div>


</div>













<br>




 <div class="other-links">
       <%= link_to '<< Back to Main page', root_path %>
    </div>
    <br>
</div>