<div class="col-md-12">
  <li class="list-group-item">

<h1><%= @user.email %></h1>


<p>Email: <%= @user.email %>






<p>Profile photo: 

<% if @user.avatar.file.nil? %>
No profile photo available.</p>
<% else %>
<br>
<%= image_tag @user.avatar %>

	<% end %>
</p>












<p><% if signed_in? %>



<% if current_user && ((current_user.id == @user.id) || current_user.superadmin?) %>
<%= link_to 'Edit profile', edit_user_path(current_user), class: "btn btn-primary" %></p>

<% end %>
</p>





<% end %>






</li><br>
 <div class="other-links">
       <%= link_to '<< Back to Main page', root_path %>
    </div>
    <br>
</div>
