
<%= form_for [@listing, @reservation] do |form| %>

    <% if @error.present? %>
    <div class="well" style="background-color: #ffe6f0">
      <%= @error %>
	</div><br>
	<% end %>


<div class="text-field">
<%= form.label :num_guests, "Number of Guests: ", style: "width: 150px" %>
  <%= form.number_field :num_guests, min: "1" %>
</div>


<br>

<%= form.label :start_date, "Check In: ", style: "float: left;" %>
<div class="container">
    <div class="row"> 
        <div class='col-sm-2'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <%= form.text_field :start_date, class:"form-control" %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({format: "DD/MM/YYYY" 
                    });
            });
        </script>
    </div>
</div>
              

<br>





<%= form.label :end_date, "Check Out: ", style: "float: left;" %>
<div class="container">
    <div class="row">
        <div class='col-sm-2'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <%= form.text_field :end_date, class:"form-control" %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({format: "DD/MM/YYYY" 
                    });
            });
        </script>
    </div>
</div>
              

<br>






<div class="submit-field" align="center">
<%= form.submit "Book now!", class: "btn btn-success", style: "font-weight:900" %>
</div>

<% end %>
