<!DOCTYPE html>
<html>
<head>
 <title>Facebnb</title>
   <%= csrf_meta_tags %>




    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>









<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body style="background-color: #dfe3ee">

<%= render partial: 'layouts/navbar' %>

 

  


<% flash.each do |key, value| %>
<% if key == "notice" %>
<div style="width: 98%; margin: 0 auto">
<div class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= value %>
      </div></div>

<% else %>


  <div style="width: 98%; margin: 0 auto">
      <div class="alert alert-<%= key %> alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= value %>
      </div></div>
<% end %>
<% end %>








  <%= yield %>



<%= render partial: 'layouts/footer' %>




</body>
</html>
