<!DOCTYPE html>
<html>
<head>
 <title>Facebnb</title>
   <%= csrf_meta_tags %>








    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>









<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body style="background-color: #dfe3ee">

<%= render partial: 'layouts/navbar' %>

  <!-- <div id="header">
    <% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>
  </div>-->

  <% flash.each do |key, value| %>

<div style="width: 98%; margin: 0 auto">
      <div class="alert alert-<%= key %> alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= value %>
      </div></div>
<% end %>












  <%= yield %>
</body>
</html>
