<!DOCTYPE html>
<html>
<head>
 <title>Facebnb</title>
   <%= csrf_meta_tags %>








    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>









<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body style="background-color: #dfe3ee">

<%= render partial: 'layouts/navbar' %>

  <!-- <div id="header">
    <% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>
  </div>-->

  <% flash.each do |key, value| %>

<div style="width: 98%; margin: 0 auto">
      <div class="alert alert-<%= key %> alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= value %>
      </div></div>
<% end %>





<%= form_tag(listings_path, method: "get", id: "search-form", enforce_utf8: false) do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Where do you want to go?" %>
          <div class="input-group-btn">
              <button class="btn" type="submit"><span class="glyphicon glyphicon-search"></span> <strong>Search</strong></button>
          </div>
        </div>
<% end %>






  <%= yield %>
</body>
</html>
